.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  justify-content: space-around;
  margin-top: 1.2rem;
}

.checkout__title {
  margin-right: 1rem;
  padding: 8px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5rem;
}
