.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.form-container {
  height: 30rem;
  width: 25rem;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 1.2rem 2.5rem;
  border-color: #1ba94c;
}

.register__container {
  height: 34rem;
}

.form__logo {
  text-decoration: none;
}

.form__logo h1 {
  font-size: 1.5rem;
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.form-control {
  margin-top: 1.5rem;
}

.form-control label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1ba94c;
  flex: 111;
}

.form-control input {
  height: 2rem;
  width: 22rem;
  border: 1px solid;
  border-color: #1ba94c;
  padding: 0.5rem 1.1rem;
  margin: 0.6rem;
  border-radius: 10px;
  outline: none;
  font-size: 1.1rem;
}

.submit_button {
  padding: 0.5rem 1rem;
  background-color: #1ba94c;
  width: 250px;
  height: 2.5rem;
  border-radius: 2px;
  border: 1px solid;
  color: white;
  margin: 1.3rem 5rem;
  cursor: pointer;
}

a .register_router {
  color: #1ba94c;
}
