.product__title {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #1ba94c;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
  gap: 2.3rem;
  margin-top: 3.5rem;
}

.card__Container {
  height: 28rem;
  width: 23vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  margin: 1.5rem;
  transition: 0.7s all ease-in;
}

.card__header {
  padding-top: 1.5rem;
  height: 12rem;
  border-bottom: 0.8px solid lightgray;
}

.card__header img {
  height: 9rem;
  object-fit: cover;
}

.card__body {
  text-align: left;
  padding: 0 0.8rem;
}

.card__body h3 {
  text-transform: uppercase;
}

.card__description {
  opacity: 0.6;
  letter-spacing: 0.8px;
  line-height: 1.1rem;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
}

.card__rating {
  display: flex;
  position: relative;
  top: -0.74rem;
}

.card__button {
  margin-top: -2rem;
}

.card__button button {
  height: 3rem;
  width: 100%;
  background-color: #1ba94c;
  color: white;
  border-radius: 0.5rem;
  outline: none;
  border: 0;
  font-size: 1.3rem;
  transition: 0.8s all ease-in;
  cursor: pointer;
}

.card__Container:hover {
  border: 1px solid #1ba94c;
  box-shadow: 0 0 0 10px rgba(240, 245, 230, 0.7);
}

.card__button button:hover {
  background-color: green;
}
