.navBar {
  height: 4.3rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.2rem;
  border-bottom: 1px solid;
  border-color: rgba(230, 235, 225, 0.6);
}

.navBar__leftSide {
  color: green;
}

.navBar__rightSide {
  margin-right: 3rem;
}

.navBar__rightSide a {
  text-decoration: none;
  margin: 1.5rem;
}

.navBar__rightSide .login,
.navBar__rightSide .signup {
  height: 2.5rem;
  width: 4rem;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  transition: 0.5s all;
}

.navBar__rightSide .login {
  border: 1px solid;
  border-color: #1ba94c;
  color: #1ba94c;
  font-weight: bolder;
}

.navBar__rightSide .signup {
  background-color: #1ba94c;
  color: white;
}

.navBar__rightSide .login:hover {
  background-color: rgba(235, 245, 230, 0.6);
}

.navBar__rightSide .signup:hover {
  background-color: green;
}
