.searchContainer {
  height: 4.2rem;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: rgba(225, 225, 230, 0.9);

  /* margin: 1.3rem auto; */
  /* margin-left: 25px; */
  padding: 0.5rem 1.1rem;
}

.searchContainer__menu {
  position: relative;
  right: 0.9rem;
}

/* .searchContainer__menu a {
  text-decoration: none;
  font-size: 1rem;
  color: #191919;
  margin: 1.2rem;
  transition: 0.5s all ease-in;
} */

/* .searchContainer__menu a {
  height: 2.5rem;
  width: 7rem;
} */

/* .searchContainer__menu a:hover {
  background-color: #1ba94c;
  padding: 0.3rem 0.7rem;
  border-radius: 12px;
  color: white;
} */

.searchContainer__filter {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  border-color: rgba(230, 235, 225, 0.6);
}

.searchContainer__filter button {
  border: none;
  outline: 0;
  height: 2rem;
  width: 8rem;
  border: 1px solid;
  border-color: rgba(225, 225, 230, 0.9);
  margin: 0.4rem auto;
  transition: 0.5s all ease-in;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  background-color: white;
}

.searchContainer__filter button:hover {
  border-color: #1ba94c;
  color: #1ba94c;
}
.searchContainer__menu a {
  width: 120px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 7px;
  padding: 12px;
  text-align: center;
  margin: 1.2rem;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;

  /* display: inline-block; */
 /* padding: 0.9rem 1.8rem; */
 font-size: 16px;
 /* font-weight: 700; */
 /* color: white; */
 /* border: 3px solid #14a94c; */
 cursor: pointer;
 position: relative;
 /* background-color: transparent; */
 /* text-decoration: none; */
 overflow: hidden;
 z-index: 1;
 /* font-family: inherit; */
}

/* .searchContainer__menu a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1ba94c;
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
} */
.searchContainer__menu a:hover{
  color:white;
}
/* .searchContainer__menu a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
} */

/* .searchContainer__menu a:hover {
  box-shadow: 0 5px 15px #1ba94c;
} */

.searchContainer__menu .focused {
  border-color: #1ba94c;
  height: 100%;
  background-color: #1ba94c;
  color: #ffff;
}
/* .searchContainer__menu a:hover:before {
  border-color: #1ba94c;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
} */
/* .serachContainer__menu a:hover:before {
  transform: translateX(0);

} */
/* .searchContainer__menu a:hover:after {
  border-color: #1ba94c;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
} */

/* .searchContainer__menu a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
} */

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: black;
  /* border: 3px solid rgb(252, 70, 100); */
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #14a94c;
  transform: translateY(100%);
  transition: all .3s;
  z-index: -1;
  
 }
 
 .btn:hover::before {
  transform: translateY(0);

 }