.searchContainer {
  height: 3rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-color: rgba(245, 255, 230, 0.9);
  border-radius: 10px;
}

.searchContainer__input {
  border: none;
  outline: 0;
}
